@tailwind base;
@tailwind components;
@tailwind utilities;

.ul-list{
    list-style-type:disc;
    margin-left: 35px;
    margin-top:8px;
    
    
}
.bottom ul li:nth-child(odd){
 background: #e9e9f069;
 align-items:normal;
}
.bottom ul li{
    padding: 10px 25px;
    color: #505050;
}

.slick-slide {
  transition: background-color 0.3s ease;
   transition: all 0.3s ease;
  transform: scale(0.95);
}



